<header class="ba-header">
	<div class="row column">
		<div class="top-bar">
			<div class="top-bar-title">
				<a class="ba-logo" href="index.html">
					Logo
				</a>
			</div>
			<span class="float-right" data-responsive-toggle="responsive-menu" data-hide-for="medium">
				<button class="menu-icon dark" type="button" data-toggle></button>
			</span>
			<div id="responsive-menu">
				<div class="top-bar-right">
					<ul class="ba-main-menu menu vertical medium-horizontal">
						<li class="active"><a href="index.html">HOME</a></li>
						<li><a href="about.html">ABOUT</a></li>
						<li><a href="blog.html">BLOG</a></li>
						<li><a href="services.html">SERVICES</a></li>
						<li><a href="contacts.html">CONTATCS</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
